@model Blog

@{
    ViewData["Title"] = "BlogReadAll";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="mt-5">
    <!--/blog-->
    <div class="container">
        <div class="row">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="blog-grid-top">
                    <div class="b-grid-top">
                        <div class="blog_info_left_grid">
                            <div>
                                <img src="@Model.BlogImage" class="blog-img">
                            </div>
                        </div>
                        <div class="blog-info-middle">
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="far fa-calendar-alt"></i> @(((DateTime)Model.BlogCreateDate).ToString("dd-MMMM-yyyy"))
                                    </a>
                                </li>
                                <li class="mx-2">
                                    <a href="#">
                                        <i class="far fa-thumbs-up"></i> @Model.BlogRating Likes
                                    </a>
                                </li>
                                <li>
                                    <a href="#comments">
                                        <i class="far fa-comment"></i> @Model.Comments.Count
                                    </a>
                                </li>
                                <li class="ml-2">
                                    <a href="#category">
                                        <i class="far fa-list-alt"></i> @Model.Category.CategoryName
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <h3>
                        <a href="">@Model.BlogTitle</a>
                    </h3>
                    <p>
                        @Model.BlogContent
                    </p>
                </div>

                <partial name="/Views/Comment/AddCommentPartial.cshtml" />

                @await Component.InvokeAsync("CommentListByBlog", new { id = Model.BlogID })
                
            </div>
            
            <!--//left-->
            <!--right-->

            <partial name="RightSidePartial" />

            <!--//right-->
        </div>
    </div>
</section>
<!--//main-->
@section scripts {
    <script>
    let textArea = document.getElementById("commentinfo");
        function postComment() {
            let data = textArea.value;
            console.log(data);
            $.ajax({
                type: "POST",
                url: "/Comment/CommentPost/",
                data: { content: data, blogid: @Model.BlogID },
                success: function (userimage) {
                    let cont = document.querySelector("#comments");
                    let empty_cont = document.getElementById("empty-comment-cont");
                    if (empty_cont.style.display != "none")
                        empty_cont.style.display = "none"
                    cont.innerHTML += `<div class="media">
                    <img src="~/WriterImageFiles/${userimage}" class="img-fluid" />
                    <div class="media-body">
                        <h5 class="mt-0">@User.Identity.Name</h5>
                        <p>
                            ${data}
                        </p>
                    </div>
                    </div>`
                },
                error: function () {
                    Swal.fire({
                        icon: 'error',
                        title: 'Oops...',
                        text: 'Something went wrong!',
                        footer: '<a href="">Why do I have this issue?</a>'
                    })
                }
            });
    };
    </script>
}