@model List<BlogListViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<section class="main-content-w3layouts-agileits">
    <div class="container">
        <h3 class="tittle">Blog Posts</h3>
        <div class="row inner-sec">
            <!--left-->
            <div class="col-lg-8 left-blog-info-w3layouts-agileits text-left">
                <div class="row mb-4">
                    @foreach(BlogListViewModel blog in Model)
                    {
                        <div class="col-md-6 card">
                            <a href="/Blog/BlogReadAll/@blog.BlogID">
                                <img src="@blog.BlogThumbnailImage" class="card-img-top img-fluid" alt="">
                            </a>
                            <div class="card-body">
                                <ul class="blog-icons my-4">
                                    <li>
                                        <a href="#">
                                            <i class="far fa-calendar-alt"></i> @blog.BlogCreateDate.ToShortDateString()
                                        </a>
                                    </li>
                                    <li class="mx-2">
                                        <a href="#">
                                            <i class="far fa-comment"></i> @blog.CommentsCount
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fas fa-list-alt"></i> @blog.Category
                                        </a>
                                    </li>

                                </ul>
                                <h5 class="card-title ">
                                    <a href="/Blog/BlogReadAll/@blog.BlogID">@blog.BlogTitle</a>
                                </h5>
                                @if (blog.BlogContent.Length > 100)
                                {
                                    <p class="card-text mb-3">@blog.BlogContent.Substring(0, blog.BlogContent.Substring(0, 100).LastIndexOf(" "))...</p>
                                }
                                else
                                {
                                    <p class="card-text mb-3">@blog.BlogContent</p>
                                }
                                <a href="/Blog/BlogReadAll/@blog.BlogID" class="btn btn-primary read-m">Read More</a>
                            </div>
                        </div>
                    }
                </div>
            </div>
            <!--//left-->
            <!--right-->
            <partial name="RightSidePartial" />
            <!--//right-->
        </div>
    </div>
</section>

